-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

:coffeescript
  $(document).ready ->
    $('#delete').click (e) ->
      unless confirm(I18n.t('cardboxes.delete.sure'))
        e.preventDefault()
        return false
      return true

- unless alert.nil?
  .error_box= alert
- if flash[:notice] and flash[:type] == :success
  .success_box= flash[:notice]
= simple_form_for @entity do |f|
  - if @entity.new_record?
    = f.input :cardset_id, :as => :hidden
  = f.input :name, :label => t('cardboxes.name')
  = f.input :review_frequency, :as => :integer, :label => t('cardboxes.review_frequency')
  = f.button :submit, :value => (@entity.new_record? ? t('cardboxes.new.submit') : t('cardboxes.edit.submit')), :class => 'btn btn-primary'

- if @entity.id
  = simple_form_for @entity, :url => cardbox_url(@entity), :method => :delete do |f|
    .delete-container
      = f.button :submit, :value => t('cardboxes.delete.button'), :id => 'delete', :class => 'btn btn-danger full-width'
