-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

:coffeescript
  $(document).ready ->
    $('#delete').click (e) ->
      unless confirm(I18n.t('cardsets.delete.sure'))
        e.preventDefault()
        return false
      return true

- unless alert.nil?
  .error_box= alert
= simple_form_for @cardset do |f|
  = f.input :name, :label => t('cardsets.name')
  = f.input :reintroduce_cards, :label => t('cardsets.reintroduce_cards')
  = f.input :reintroduce_cards_amount, :label => t('cardsets.reintroduce_cards_amount')
  = f.input :reintroduce_cards_frequency, :label => t('cardsets.reintroduce_cards_frequency')
  = f.button :submit, :value => (@cardset.new_record? ? t('cardsets.new.submit') : t('cardsets.edit.submit')), :class => 'btn btn-primary'

- if @cardset.id
  = simple_form_for @cardset, :url => cardset_url(@cardset), :method => :delete do |f|
    .delete-container
      = f.button :submit, :value => t('cardsets.delete.button'), :id => 'delete', :class => 'btn btn-danger full-width'
