-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

.page.container-fluid
  .row
    .col-md-4
      .list-group
        - @cardsets.each do |cardset|
          - if cardset == @cardset
            .list-group-item.active= cardset.name
          - else
            %a.list-group-item{ :href => url_for(cardset) }= cardset.name
      %a.btn.btn-default.centred-block{ :href => new_cardset_path }= t('cardsets.show.create_link')
    .col-md-8
      %h2= "#{t('cardsets.show.header')}: #{@cardset.name}"
      = render 'form'
    .clearfloats
