-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

#options.page
  %h2= t('cardsets.study.options.header')
  %form{ :id => 'options-form' }
    %label= t('cardsets.study.options.cardset')
    %select{ :id => 'options-form-cardset', :name => 'cardset' }
      - @cardsets.each do |cardset|
        %option{ :value => cardset.id }= cardset.name

    %label= t('cardsets.study.options.study_type')
    .list-group
      - @study_types.each do |type|
        %label.list-group-item{ :for => "options-form-study-type-#{type[:id]}" }
          %input{ :type => 'radio', :id => "options-form-study-type-#{type[:id]}", :name => 'study_type', :value => type[:id]}
          = type[:name]

    #options-cardbox-section{ :style => 'display: none;' }
      %label= t('cardsets.study.options.cardbox')
      - @cardsets.each do |cardset|
        %select{ :id => "cardbox-for-cardset-#{cardset.id}", :name => 'cardbox' }
          - cardset.cardboxes.order(:review_frequency).each do |cardbox|
            %option{ :value => cardbox.id }= cardbox.name

    %a#options-form-submit.btn.btn-primary.full-width{ :href => '#' }= t('cardsets.study.options.submit')

  :coffeescript
    $(document).ready ->
      kksystem.cardsets.study.initOptions()

#study{ :style => 'display: none;' }
  .container-fluid
    .col-md-4
      .statistics
        .js-loading= t('cardsets.study.loading')
        .js-statistics.js-hide-on-load.js-show-on-ready
          %b= t('cardsets.study.statistics.study_mode') + ':'
          %span#statistics-study-mode
          %br
          %b= t('cardsets.study.statistics.current_set') + ':'
          %span#statistics-current-set
          %br
          %b= t('cardsets.study.statistics.current_box') + ':'
          %span#statistics-current-box
          %br
          %b= t('cardsets.study.statistics.cards') + ':'
          %span#statistics-cards
          %br
          %br
          %a#finish-btn.btn.btn-default.full-width{ :href => '#' }= t('cardsets.study.statistics.finish_btn')
    .col-md-8
      .card.js-front
        %span.contents
          .js-loading= image_tag 'ajax-loader-1.gif', :alt => t('cardsets.study.loading')
          .js-card-text.js-hide-on-load.js-show-on-ready
          %textarea.edit-text-field.js-edit-card-text.js-hide-on-load
        .edit-button.btn.btn-default.js-show-on-ready
          .glyphicon.glyphicon-pencil
        .save-button.btn.btn-primary.js-hide-on-load
          .glyphicon.glyphicon-floppy-disk
      .card.js-back.js-hide-on-load
        %span.contents
          .js-card-text.js-show-on-ready
          %textarea.edit-text-field.js-edit-card-text.js-hide-on-load
        .edit-button.btn.btn-default.js-show-on-ready
          .glyphicon.glyphicon-pencil
        .save-button.btn.btn-primary.js-hide-on-load
          .glyphicon.glyphicon-floppy-disk
      %a.card.card-not-visible.js-hide-back.js-hide-on-load.js-show-on-ready{ :href => '#' }
        %span.text
          = t('cardsets.study.cards.click_to_flip')
      .correctness-buttons.js-hide-on-load
        %a#correct.btn.btn-primary{ :href => '#' }= t('cardsets.study.correctness_buttons.correct')
        %a#incorrect.btn.btn-danger{ :href => '#' }= t('cardsets.study.correctness_buttons.incorrect')

#finished.page{ :style => 'display: none;' }
  = t('cardsets.study.finished.notice')
  %br
  [
  %a{ :href => root_path }= t('cardsets.study.finished.home_link')
  ]

#error.page{ :style => 'display: none;' }
  = t('cardsets.study.error')
