-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

:coffeescript
  $(document).ready ->
    $('#delete').click (e) ->
      unless confirm(I18n.t('cards.delete.sure'))
        e.preventDefault()
        return false
      return true

- unless alert.nil?
  .error_box= alert
- if flash[:notice] and flash[:type] == :success
  .success_box= flash[:notice]
= simple_form_for @entity, :html => { :multipart => true } do |f|
  - if @entity.new_record?
    = f.input :cardset_id, :as => :hidden
  = f.input :front, :as => :text, :label => t('cards.front')
  = f.input :back, :as => :text, :label => t('cards.back')
  = f.input :current_cardbox_id, :label => t('cards.current_cardbox'), :collection => @cardboxes, :include_blank => t('cards.show.no_box'), :selected => (if @entity.id then @entity.current_cardbox_id else (if @cardboxes.length.zero? then nil else @cardboxes.first.id end) end)
  #card-attachments
    .input.attachment-front
      %label.text= t('cards.attachment_front')
      %input{ :name => 'attachment_front', :type => 'file' }
    - if @entity.front_attachment
      .attachment-thumb
        = image_tag @entity.front_attachment.file.url
    .input.attachment-back
      %label.text= t('cards.attachment_back')
      %input{ :name => 'attachment_back', :type => 'file' }
    - if @entity.back_attachment
      .attachment-thumb
        = image_tag @entity.back_attachment.file.url
  = f.button :submit, :value => (@entity.new_record? ? t('cards.new.submit') : t('cards.edit.submit')), :class => 'btn btn-primary'

- if @entity.id
  = simple_form_for @entity, :url => card_url(@entity), :method => :delete do |f|
    .delete-container
      = f.button :submit, :value => t('cards.delete.button'), :id => 'delete', :class => 'btn btn-danger full-width'
