-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

.page
  %h2= t('cards.index.header')

  %table.table-search
    %form{ :method => 'GET' }
      %tr
        %td
          %input.search-box{ :name => 'search', :value => params[:search] }
        %td.button-col
          %input.btn.btn-default{ :type => 'submit', :value => t('cards.index.search') }

  -if @entities.count > 0
    .display-table.fixed-full-sized-table.styled-table
      .display-thead
        .display-td= t('cards.front')
        .display-td= t('cards.back')
      .display-tbody
        - @entities.each do |card|
          %a.display-tr{ :href => card_path(card) }
            .display-td= card.front
            .display-td= card.back
  - else
    %h5= t('cardboxes.index.none')
