-# Copyright (C) 2014 Braden Walters
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

.page
  %h2= t('users.registrations.edit.header')
  - unless alert.nil?
    .error_box= alert
  = simple_form_for @user, :url => user_registration_path do |f|
    = f.input :username, :label => t('users.username'), :class => 'input'
    = f.input :email, :as => :email, :label => t('users.registrations.edit.new_email')
    = f.input :current_password, :as => :password, :label => t('users.registrations.edit.current_password')
    = f.input :password, :as => :password, :label => t('users.registrations.edit.new_password')
    = f.input :password_confirmation, :as => :password, :label => t('users.registrations.edit.new_password_confirmation')
    = f.button :submit, :value => t('users.registrations.edit.submit'), :class => 'btn btn-primary'
